<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Css/styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://rawgithub.com/randallmeeker/ps-input-time/master/ps-input-time.js"></script>
    <script src="../Scripts/CoreScripts/moment.js"></script>
    <script src="../Scripts/CoreScripts/underscore.min.js"></script>
    <script src="../Scripts/CoreScripts/angular-route.min.js"></script>
    <script src="../Scripts/CoreScripts/dirPagination.min.js"></script>
    <script src="../Scripts/AjaxCalls.min.js"></script>
    <script src="../Scripts/Index.js"></script>
    <script src="../Scripts/userValidation.js"></script>
    <script src="../Scripts/workSheet.js"></script>
</head>

<body ng-app="myApp">
    <div ng-view>

    </div>
</body>
</html>